<!-- Elemento h1 para mostrar un mensaje -->
<h1>{{message}}</h1>

<!-- Elemento h2 para mostrar el estado de error -->
<h2>{{error.status}}</h2>

<!-- Elemento pre para mostrar la pila de errores en un formato preformateado -->
<pre>{{error.stack}}</pre>
