<!-- Script JavaScript para cargar el archivo 'dbGame.js' de manera diferida (después de que se cargue la página) -->
<script defer src="javascripts/dbGame.js"></script>

<!-- Encabezado h1 para mostrar el título del juego -->
<h1>Dice Game</h1>

<!-- Párrafo que muestra un mensaje de bienvenida con un título dinámico -->
<p>Welcome to {{title}}. Select an option</p>

<!-- Grupo de botones para realizar diferentes acciones en el juego -->
<p>
    <button type="button" id="btnCreate">Create Game</button> <!-- Botón para crear un juego -->
    <button type="button" id="btnGame">View Game</button> <!-- Botón para ver el juego -->
    <button type="button" id="btnWinner">View Winner</button> <!-- Botón para ver al ganador -->
    <button type="button" id="btnStartGame">Start Game</button> <!-- Botón para iniciar un juego -->
</p>

