<!DOCTYPE html>
<html>
  <head>
    <!-- Etiqueta de apertura de HTML con declaración de tipo de documento -->
    
    <title>{{title}}</title>
    <!-- Etiqueta <title> que define el título de la página, el cual se rellena dinámicamente con la variable 'title' -->
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Etiqueta <link> que vincula una hoja de estilo CSS llamada 'style.css' ubicada en la ruta '/stylesheets/' -->
    
  </head>
  <body>
    <!-- Etiqueta <body> que contiene el contenido principal de la página, que se rellena dinámicamente con la variable 'body' -->
    
    {{{body}}}
   
  </body>
</html>
